table {
  width: 90%;
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}

th {
  background-color: #ccc;
  font-weight: normal;
  padding: 0.5rem;
}

tr {
  height: 2rem;
  border-radius: 1rem;
}

tr:nth-child(even) {
  background-color: #eee;
}

td {
  padding: 0.5rem;
}

.right {
  text-align: right;
}
